<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Reports</title>
  <link rel="stylesheet" href="/style/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script> <!-- XLSX -->
  <script src="/employee_reports/employee_reports.js" defer></script> 
</head>
<body class="container">
    <div class="navbar">
   
        <form action="/logout" method="POST">
          <button type="submit" class="button">Logout</button>
        </form>
        
        <form action="/current" method="POST">
          <button type="submit" class="button">Current Reports</button>
        </form>
    
        <form action="/home" method="POST">
          <button type="submit" class="button"> My Timesheet</button>
        </form>
        <form action="/my_report" method="POST">
          <button type="submit" class="button">My Work Breakdown</button>
        </form>
        <form action="/predicted" method="POST">
          <button type="submit" class="button">Predictive Reports</button>
        </form>
        <form action="/employee_reports" method="POST">
          <button type="submit" class="button">Employee Reports</button>
        </form>
        <form action="/admin" method="POST">
          <button type="submit" class="button">Admininistration</button>
        </form>
      </div>

  <div class="reports_card">
  <h1 id="reportHeading">Employee Reports</h1>
  <label for="reportDate">Select Year:</label>

  <select id="select_year">
  </select>
  <label for="employee_id">Employee ID:</label>
  <select id="employee_id">
    <option value="Employee_ID">Employee</option>
    <option value="Total Hours Worked">Total Hours Worked</option>
  </select>
  
    <button class="gen-button" id="generateReport"> <i class="fa-solid fa-table-list"></i> Generate Report</button>
    <button class="gen-button" id="test"> <i class="fa-solid fa-table-list"></i> test Report</button>

    <div class="employee_info">
      <h1 id="employeeInfoH1">Employee Information</h1>
      <div id="employeeInfoContainer">
        <p id="employeeName">Name:</p>
        <p id="employeeID">Employee ID:</p>
        <p id="employeeEmail">Email:</p>
        <p id="employeeWage">Hourly Wage:</p>
        <p id="employeeDepartment">Employee Department:</p>
      </div>

    </div>
    <div clas="charts-container">
      <h1 id="monthlyBreakdownH1">Monthly Breakdown for Year </h1>
    <span id ="monthlyBreakdownChart">
    </span>
    <h1 id="clientWorkBreakdownh1">Client Breakdown for Year </h1>
    <span id ="clietnWorkBreakdown">
    </span>
</div>
  
    <table id="individualReportTable">
      <thead>
          <tr>
              <th>Client</th>
              <th>Total Hours Worked</th>
              <th>Detail Breakdown</th>
          </tr>
      </thead>
      <tbody id="individualReportTableBody">
          <!-- Table rows will be dynamically added here -->
          
      </tbody>
  </table>
    
  <button class="gen-button" id="downloadReport">Download Report</button>
</div>

<!-- Canvas for the chart -->
<div id="t" class="toast">
  <div class="toast-content">
      <h2 id="modalTitle"></h2>
      <div id="modalBody">
        <table id="modalTable">
          <thead>
              <tr>
                  <th>Month</th>
                  <th>Hours Worked</th>
              </tr>
          </thead>
          <tbody id="modalTableBody">
          </tbody>
          <button id="closeModal">Close</button>

      </div>
  </div>
</div>
</body>
</html>
